[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "*"
twine = "*"
requests = "*"

[dev-packages]
viur-cli = {editable = true, path = "."}

[requires]
python_version = "3.9"

[scripts]
build_release = "python -m build"
test_release = "python -m twine upload --repository testpypi dist/*"
